---
import { DOMAIN_NAME, SITE_NAME, SITE_TD_END_TEMPLATE } from '@/model/siteInfo';

interface Props {
	title: string;
	description: string;
	canonical: string;
	ogImgURL?: string;
}
const { title, description, canonical, ogImgURL } = Astro.props;
const ogpImgURL = DOMAIN_NAME + (ogImgURL ?? '/ogp/ogp.png');
const publicCanonical = DOMAIN_NAME + canonical;
const publicDecsription = description + SITE_TD_END_TEMPLATE;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{title + SITE_TD_END_TEMPLATE}</title>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={publicDecsription} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noydir,noodp,index,follow" />
		<link rel="canonical" href={publicCanonical} />

		<!-- icon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.svg" />

		<!-- ogp -->
		<meta name="og:title" content={title + SITE_TD_END_TEMPLATE} />
		<meta name="og:type" content="website" />
		<meta name="og:description" content={publicDecsription} />
		<meta name="og:url" content={publicCanonical} />
		<meta name="og:image" content={ogpImgURL} />
		<meta name="og:site_name" content={SITE_NAME} />
		<!-- //ogp -->

		<!-- twitter card -->
		<meta name="twitter:image:src" content={ogpImgURL} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content={publicDecsription} />
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- reset -->
<style is:global lang="scss">
	/*! buildOutputFile: base */

	*,
	*::before,
	*::after {
		box-sizing: border-box;

		@media (prefers-reduced-motion: reduce) {
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			scroll-behavior: auto !important;
		}
	}
	// for print
	@media print {
		*,
		*::before,
		*::after {
			print-color-adjust: exact;
		}
	}

	* {
		padding: 0;
		margin: 0;
		min-inline-size: 0;
	}

	// text and heading and link
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	ul,
	ol,
	menu,
	summary {
		list-style: none;
	}

	// clickable
	a {
		text-decoration-skip-ink: auto;
		color: currentcolor;

		&:link,
		&:active {
			color: currentColor;
		}
	}

	button,
	[role='button'] {
		appearance: none;
		cursor: pointer;
		background: none;
		border: none;
		touch-action: manipulation;
	}

	summary {
		display: block;
		&::-webkit-details-marker {
			/* Safariで表示されるデフォルトの三角形アイコンを消します */
			display: none;
			visibility: hidden;
		}
	}

	// img
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	img {
		border-style: none;
	}

	svg {
		overflow: hidden;
	}

	// form
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	input,
	textarea {
		user-select: auto;
	}

	textarea {
		white-space: revert;
	}

	// others
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	nav,
	section {
		display: block;
	}

	meter {
		appearance: revert;
	}

	::placeholder {
		color: unset;
	}

	// for html props
	[hidden] {
		display: none;
		visibility: hidden;
	}

	html {
		text-size-adjust: none;
		&:focus-within {
			scroll-behavior: smooth;

			@media (prefers-reduced-motion: reduce) {
				scroll-behavior: auto;
			}
		}
	}

	body {
		min-height: 100vh;
		font-size: 16px;
		overflow-wrap: break-word;
		line-break: strict;
		word-break: auto-phrase;
		text-rendering: optimizespeed;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<!-- setup -->
<style is:global lang="scss">
	/*! buildOutputFile: base */
	body {
		background-color: var(--foregroundColor);
		color: #333;
		font-family: var(--font-family);
		font-size: 16px;
		display: flex;
	}
</style>
