---
interface Props {
	text: string;
}
import styles from './typography.module.scss';
const { text } = Astro.props;
---

<h2 class={styles.typography_h1}>{text}</h2>
<h2 class={styles.typography_h2}>{text}</h2>
<h2 class={styles.typography_h3}>{text}</h2>
